# Read more about SSH config files: https://linux.die.net/man/5/ssh_config
Host mst
    HostName master
    User root
    IdentityFile /root/.ssh/aws-ten-jsh.pem
    StrictHostKeyChecking no

Host w1
    HostName worker-1
    User root
    IdentityFile /root/.ssh/aws-ten-jsh.pem
    StrictHostKeyChecking no

Host w2
    HostName worker-2
    User root
    IdentityFile /root/.ssh/aws-ten-jsh.pem
    StrictHostKeyChecking no

Host w3
    HostName worker-3
    User root
    IdentityFile /root/.ssh/aws-ten-jsh.pem
    StrictHostKeyChecking no
